<style>
    @import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

    .isa_info,
    .isa_success,
    .isa_warning,
    .isa_error {
        margin: 30px 0px 10px 0px;
        padding: 20px;

    }

    .isa_info {
        color: #00529B;
        background-color: #BDE5F8;
    }

    .isa_success {
        color: #4F8A10;
        background-color: #DFF2BF;
    }

    .isa_warning {
        color: #9F6000;
        background-color: #FEEFB3;
    }

    .isa_error {
        color: #D8000C;
        background-color: #FFD2D2;
    }

    .isa_info i,
    .isa_success i,
    .isa_warning i,
    .isa_error i {
        margin: 10px 0px 10px 0px;
        font-size: 2.5em;
        vertical-align: middle;
    }
</style>

<div class="isa_info">
    <i class="fa fa-info-circle" style="float: left;"></i>
    {% assign order = checkout.order %}
    <div style="margin-left: 60px;">
        <p style="font-size: 14px;;margin-bottom: 6px;"> Please check your email to review your order confirmation and
            If this is your first time, you should receive a password reset email to be able to access following
            courses:</p>
        <ul style="list-style-type:disc;margin-left: 25px;font-size: 14px;line-height: 1.4em; margin-bottom: 10px;">
            {% for line_item in order.line_items %}
            <li>
                {{ line_item.product.title }} hosted <a style="text-decoration: underline;"
                    href={{ line_item.product.tags[0] }} target="_blank"> here.</a>
            </li>
            {% endfor %}
        </ul>
        <p style="font-size: 14px;;margin-bottom: 6px;">To login you should visit:
            <ul style="list-style-type:disc;margin-left: 25px;font-size: 14px;line-height: 1.4em; margin-bottom: 10px;">
                {% assign last_url = "" %}
                {% for line_item in order.line_items %}
                    {% assign url = line_item.product.tags[0] %}
                    {% if last_url != url %}
                        <li>
                            <a style="text-decoration: underline;" href="{{ line_item.product.tags[0] }}/login"
                                target="_blank">{{ line_item.product.tags[0] }}</a>
                        </li>
                    {% endif %}
                    {% assign last_url = url %}
                {% endfor %}
            </ul>
        </p>
        <ul style="list-style-type:disc;margin-left: 25px;font-size: 14px;line-height: 1.4em;">
            <p style="margin-left: -25px;">and use</p>
            <li><span style="font-weight: 500;">{{ checkout.email }}</span> as your username </li>
            <li> The password you chose during the password reset </li>
        </ul>
    </div>
</div>
